<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-2">
          <div class="card-block p-2">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-phone"></i></span>
              <input type="text" class="form-control" placeholder="Phone number">
            </div>
            <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="Email">
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Password">
            </div>

            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Repeat password">
            </div>

            <button type="button" class="btn btn-block btn-success">Create Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
